<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h2>로그인</h2>

<div th:if="${param.error}" style="color:red;">
    <p>아이디 또는 비밀번호가 올바르지 않습니다.</p>
</div>

<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="loginId" placeholder="아이디" required>
    </div>
    <div>
        <input type="password" name="password" placeholder="비밀번호" required>
    </div>
    <div>
        <label>
            <input type="checkbox" name="autoLogin"> 로그인 유지
        </label>
    </div>
    <button type="submit">로그인</button>
</form>

<hr>
<a th:href="@{/oauth2/authorization/google}">
    <button type="button">구글로 로그인/연동</button>
</a>

<br>
<a href="/register">회원가입</a>

</body>
</html>