<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"> <head>
    <title>메인 페이지</title>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>

<main layout:fragment="content">

    <h1>메인 페이지</h1>

    <div th:if="${user == null}">
        <a th:href="@{/login}">로그인</a>
        <a th:href="@{/register}">회원가입</a>
    </div>

    <div th:if="${user != null}">
        <p th:text="${user.userName} + ' 님 환영합니다'"></p>

        <form th:action="@{/logout}" method="post">
            <button type="submit">로그아웃</button>
        </form>

        <button id="openPwModal" type="button">비밀번호 변경</button>
    </div>

    <div th:if="${user != null}">
        <div id="pwModal" style="display:none;">
            <form method="post" th:action="@{/my/password/change}">
                <input type="password" name="currentPassword" placeholder="현재 비밀번호">
                <input type="password" name="newPassword" placeholder="새 비밀번호">
                <input type="password" name="confirmPassword" placeholder="새 비밀번호 확인">
                <button type="submit">확인</button>
            </form>

            <p th:if="${passwordChangeError}"
               th:text="${passwordChangeError}"
               style="color:red;"></p>
        </div>
    </div>

</main>

</body>
</html>