<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 - WORKNEED</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <script th:src="@{/js/register.js}" defer></script>
</head>
<body>

<div class="register-wrapper">
    <div class="register-container">

        <img th:src="@{/images/logo5.svg}" class="main-logo" alt="로고">

        <h2>회원가입</h2>

        <form th:action="@{/register}" method="post" th:object="${user}" id="registerForm">

            <div class="input-group">
                <img th:src="@{/images/person300.svg}" class="input-icon" alt="아이디">
                <input type="text" th:field="*{userLoginId}" placeholder="아이디" required>
            </div>

            <div class="input-group">
                <img th:src="@{/images/lock300.svg}" class="input-icon" alt="비밀번호">
                <input type="password" th:field="*{userPassword}" placeholder="비밀번호 @제외(8자 이상 영문/숫자/특수문자)" required>
            </div>

            <div class="input-group no-margin">
                <img th:src="@{/images/lock300.svg}" class="input-icon" alt="비밀번호 확인">
                <input type="password" id="passwordConfirm" placeholder="비밀번호 확인" required>
            </div>
            <p id="passwordMatchMsg" class="compact-msg"></p>

            <div class="input-group no-margin">
                <img th:src="@{/images/mail300.svg}" class="input-icon" alt="이메일">
                <input type="email" th:field="*{userEmail}" id="userEmail" placeholder="이메일 (인증 필요)" required>
            </div>
            <p class="compact-msg email-color">* 구글 연동하려면 Gmail로 가입해야 합니다.</p>

            <div id="authCodeGroup" class="input-group" style="display: none;">
                <img th:src="@{/images/lock300.svg}" class="input-icon" alt="인증번호">
                <input type="text" id="authCode" placeholder="인증번호 6자리">
            </div>

            <div class="input-group">
                <img th:src="@{/images/person300.svg}" class="input-icon" alt="이름">
                <input type="text" th:field="*{userName}" placeholder="이름" required>
            </div>

            <div class="input-group">
                <img th:src="@{/images/calendar300.svg}" class="input-icon" alt="생년월일">
                <input type="date" th:field="*{userBirthday}" id="userBirthday" required>
            </div>

            <div class="input-group">
                <img th:src="@{/images/phone300.svg}" class="input-icon" alt="전화번호">
                <input type="tel" id="userPhone" th:field="*{userPhone}" placeholder="010-1234-5678" maxlength="11" required>
            </div>
            <p id="phoneMsg" class="compact-msg"></p>

            <button type="button" id="mainBtn" class="btn-submit">이메일 인증번호 받기</button>
        </form>

        <div class="footer-links">
            <a th:href="@{/login}">로그인으로 돌아가기</a>
        </div>
    </div>
</div>

</body>
</html>