<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="miniKanban" class="main-kanban" onclick="location.href='/schedule/kanban'">

    <div class="mk-head">나의 TODO / DOING 전체 보기</div>

    <span class="mk-doing-count">진행중 스케줄 <b th:text="${doingScheduleCount}"></b></span>

    <div class="mk-grid">
        <section class="mk-col">
            <div class="mk-col-head">TODO</div>
            <div class="mk-list">

                <div class="mk-card" th:each="item : ${mainTodo}">
                    <div class="mk-card-header">
                        <div class="mk-card-title" th:text="${item.scheduleTitle}">schedule 제목</div>
                        <span class="mk-card-eventType" th:text="${item.eventType}">type</span>
                    </div>
                    <div class="mk-task-desc" th:text="${item.taskDescription}">task 내용</div>

                    <div class="mk-card-meta">
                        <div>
                            <span th:text="${#temporals.format(item.startAt, 'MM-dd')}">start</span>
                            <span> - </span>
                            <span th:text="${#temporals.format(item.endAt, 'MM-dd')}">end</span>
                        </div>
                    </div>


                </div>

                <div class="mk-empty" th:if="${#lists.isEmpty(mainTodo)}">TODO가 없습니다.</div>
            </div>
        </section>

        <section class="mk-col">
            <div class="mk-col-head">DOING</div>
            <div class="mk-list">

                <div class="mk-card" th:each="item : ${mainDoing}">
                    <div class="mk-card-header">
                        <div class="mk-card-title" th:text="${item.scheduleTitle}">schedule 제목</div>
                        <span class="mk-card-eventType" th:text="${item.eventType}">type</span>
                    </div>
                    <div class="mk-task-desc" th:text="${item.taskDescription}">task 내용</div>

                    <div class="mk-card-meta">
                        <div>
                            <span th:text="${#temporals.format(item.startAt, 'MM-dd')}">start</span>
                            <span> - </span>
                            <span th:text="${#temporals.format(item.endAt, 'MM-dd')}">end</span>
                        </div>
                    </div>

                </div>

                <div class="mk-empty" th:if="${#lists.isEmpty(mainDoing)}">DOING이 없습니다.</div>
            </div>
        </section>
    </div>

</div>

</body>
</html>