<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">WORKNEED</title>
    <link rel="stylesheet" th:href="@{/layout/layout.css}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <th:block layout:fragment="head"></th:block>
</head>
<body>

<div class="main-layout">

    <aside class="sidebar" th:replace="~{layout/sidebar :: sidebar}"></aside>

    <header class="header">
        <div th:replace="~{layout/header :: header}"></div>
    </header>


    <main class="content" layout:fragment="content"></main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:inline="javascript">
    // 전역 변수 초기화: 모든 페이지에서 사용 가능하게 window 객체에 할당
    window.currentUserId = /*[[${session.user != null ? session.user.userId : null}]]*/ null;

    // 기본값 설정 (채팅방이 아닐 때는 null)
    window.roomId = null;
    window.lastDisplayDate = null;
</script>

<script th:src="@{/js/Socket.js}"></script>

<th:block layout:fragment="script"></th:block>

</body>
</html>

