<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 - WORKNEED</title>
    <link rel="stylesheet" th:href="@{/css/passwordChange.css}">
</head>
<body>

<div layout:fragment="content" class="pw-page-wrapper">
    <div class="pw-change-container">
        <img th:src="@{/images/logo5.svg}" class="main-logo" alt="로고">

        <div class="auth-section">
            <h2>비밀번호 변경</h2>

            <div th:if="${tempPwNotice}" class="error-msg">
                임시 비밀번호 사용 중입니다. 변경이 필요합니다.
            </div>

            <form id="pwForm" th:action="@{/my/password/change}" method="post">
                <div class="input-group">
                    <img th:src="@{/images/lock300.svg}" class="input-icon" alt="아이콘">
                    <input type="password" name="currentPassword" placeholder="현재 비밀번호" required
                           oncopy="return false;" onpaste="return false;">
                </div>

                <div class="input-group">
                    <img th:src="@{/images/lock300.svg}" class="input-icon" alt="아이콘">
                    <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호" required
                           oncopy="return false;" onpaste="return false;">
                </div>

                <div class="input-group">
                    <img th:src="@{/images/lock300.svg}" class="input-icon" alt="아이콘">
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="새 비밀번호 확인" required
                           oncopy="return false;" onpaste="return false;">
                </div>

                <div id="passwordMatchMsg" class="match-msg"></div>

                <button type="submit" class="btn-submit">변경 완료</button>
            </form>

            <div class="links">
                <a th:href="@{/main}">메인으로 돌아가기</a>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/passwordChange.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const errorDetail = [[${errorDetail}]];
        if (errorDetail) { alert(errorDetail); }
        /*]]>*/
    </script>
</th:block>

</body>
</html>