<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content" style="
        min-height: calc(100vh - 64px);  /* 헤더 높이 감안 */
        display: flex;
        justify-content: center;
        align-items: center; "
     class="pw-page">

    <div id="pwModal" class="pw-change-card"
         style="width: 400px; padding: 30px; border: 1px solid #ddd; border-radius: 15px; background: #fff; box-shadow: 0 4px 15px rgba(0,0,0,0.1);">
        <h2 style="text-align: center; margin-bottom: 20px;">비밀번호 변경</h2>

        <p id="tempPwNotice" style="display:none; color: red; font-size: 13px; text-align: center;">임시 비밀번호 사용 중입니다. 변경이
            필요합니다.</p>

        <form id="pwForm" th:action="@{/my/password/change}" method="post">
            <input type="password" name="currentPassword" placeholder="현재 비밀번호" required
                   style="width: 100%; padding: 12px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 8px;">

            <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호" required
                   style="width: 100%; padding: 12px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 8px;">

            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="새 비밀번호 확인" required
                   style="width: 100%; padding: 12px; margin-bottom: 5px; border: 1px solid #ccc; border-radius: 8px;">

            <div id="passwordMatchMsg"
                 style="font-size: 13px; margin-bottom: 15px; text-align: left; height: 18px;"></div>

            <button type="submit"
                    style="width: 100%; padding: 12px; background: #4e73df; color: white; border: none; border-radius: 8px; font-weight: bold; cursor: pointer;">
                변경 완료
            </button>
        </form>
    </div>
</div>


<th:block layout:fragment="script">
    <script th:src="@{/js/passwordChange.js}"></script>
    <script th:inline="javascript" th:if="${errorDetail}">
        /*<![CDATA[*/
        const errorMsg = [[${errorDetail}]];
        if (errorMsg) {
            alert(errorMsg);
        }
        /*]]>*/
    </script>

</th:block>
</body>
</html>