<!-- 출 퇴근 버튼 -->
<section class="rows" data-att-rows th:fragment="attendanceRows">

    <div class="row"><span>출근 시간</span>
        <span class="muted" data-checkin>미등록</span>
        <button class="btn" data-action="checkin" type="button">출근하기</button>
    </div>


    <div class="row"><span>퇴근 시간</span>
        <span class="muted" data-checkout>미등록</span>
        <button class="btn" data-action="checkout" type="button">퇴근하기</button>
    </div>

</section>


<!-- 근태관리 왼쪽 영역 -->
<section class="att-left" th:fragment="attendanceLeft">

    <div class="clock" data-clock>00 : 00 : 00</div>

    <div class="work-state" data-workstate data-state="OUT">
        <span class=labelState> 업무 상태 </span>

        <button type="button" class="dotState" data-action="toggle-away" aria-label="업무 상태"></button>
    </div>

    <div class="leftAttend">

        <section th:replace="~{Attendance/attendanceLeft :: attendanceRows}"></section>

    </div>

    <div class="rowMonth">
        <div class="row row-month"><span> 월간 누적 </span><span class="muted" data-monthtotal>미등록</span></div>
    </div>

    <div class="click">

        <div class="menuGroup">
            <a class="cli card" th:href="@{/attendance}">근태 관리</a>
            <a class="cli card" th:href="@{/attendance/month}">출근부</a>
            <a class="cli card" th:href="@{/attendance/leave}">연차 관리</a>
        </div>

        <div class="menuGroupTeam" th:if="${teamOwner}">
            <a class="cli card team" th:href="@{/attendance/teamAttend}">부 서 근 태</a>
            <a class="cli card team" th:href="@{/attendance/teamLeave}">부 서 연 차</a>
        </div>

    </div>

</section>

