<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Title</title>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/task.css}">
    </th:block>
</head>
<body th:data-schedule-id="${schedule.scheduleId}">
<main layout:fragment="content">

    <a th:href="@{/schedule/kanban}" class="back">← Back to Kanban</a>

    <div class="frame">
        <div class="block" id="detail">
            <div class="title-event-type">
                <div class="title" th:text="${schedule.title}">Title</div>
                <div class="event-type" th:text="${schedule.eventType}">Event Type</div>
            </div>

            <div class="date-time">
                <div class="start-at" th:text="${#temporals.format(schedule.startAt, 'yyyy-MM-dd HH:mm')}">Start At</div>
                <div class="end-at" th:text="${#temporals.format(schedule.endAt, 'yyyy-MM-dd HH:mm')}"> End At</div>
            </div>

            <div class="location"
                 th:if="${!#strings.isEmpty(schedule.location)}"
                 th:text="${schedule.location}">
            </div>

            <div class="meeting-room" th:if="${!#lists.isEmpty(reservations)}">
                회의실 [[${#lists.size(reservations)}]]건

                <div class="meeting-tooltip">
                    <div th:each="r : ${reservations}" class="meeting-row">
                        <strong th:text="${r.roomName}"></strong><br/>
                        <span th:text="${#temporals.format(r.startAt,'MM-dd HH:mm')}"></span>
                         ~
                        <span th:text="${#temporals.format(r.endAt,'HH:mm')}"></span>
                    </div>
                </div>
            </div>


            <div class="description" th:text="${schedule.description}">Description</div>
        </div>

        <div class="block" id="comment">
            <div class="title">Comment</div>

            <div class="comment-list">
                <!-- empty -->
                <div class="comment-empty" th:if="${#lists.isEmpty(commentList)}">
                    아직 댓글이 없습니다.
                </div>

                <!-- item -->
                <div class="comment-item" th:each="c : ${commentList}">
                    <div class="comment-row">
                        <div class="comment-writer" th:text="${c.writerName}">[user]</div>
                        <div class="comment-time"   th:text="${#temporals.format(c.createdAt, 'yyyy-MM-dd HH:mm')}"> 2025-00-00 00:00</div>
                        <div class="comment-btns" id="comment-btns" > <!--th:if="${c.writerId == loginUserId}"-->
                            <button type="button" class="comment-edit-btn">edit</button>

                            <form th:action="@{/schedule/comment/delete}"method="post">
                                <input type="hidden" name="scheduleId" th:value="${schedule.scheduleId}">
                                <input type="hidden" name="commentId" th:value="${c.commentId}">
                                <button type="submit" class="comment-delete-btn">delete</button>
                            </form>
                        </div>
                    </div>

                    <!-- 보기 모드 -->
                    <div class="comment-view">
                        <div class="comment-content" th:text="${c.content}"></div>
                    </div>

                    <!-- 수정 모드 -->
                    <form class="comment-edit-form" th:action="@{/schedule/comment/update}" method="post">
                        <input type="hidden" name="scheduleId" th:value="${schedule.scheduleId}">
                        <input type="hidden" name="commentId" th:value="${c.commentId}">
                        <textarea name="content" class="comment-edit-textarea" rows="3" th:text="${c.content}"></textarea>
                        <div class="comment-edit-btns">
                            <button type="submit">저장</button>
                            <button type="button" class="comment-cancel-btn">취소</button>
                        </div>
                    </form>
                </div>
            </div>

            <form class="comment-add" th:action="@{/schedule/comment/create}" method="post">
                <input type="hidden" name="scheduleId" th:value="${schedule.scheduleId}">
                <input class="comment-input" type="text" name="content" placeholder="add a comment" />
                <button class="comment-add-btn" type="submit">add</button>
            </form>

        </div>

        <div class="block" id="etc">
            <div class="etc-block" id="etc-image">
                <button type="button" class="btn-send-message-modal" th:attr="data-schedule-id=${schedule.scheduleId}">
                    <!--임시 이미지-->
                    <div class="etc-images">
                        <img src="/images/person300.svg">
                        <img src="/images/team2_300.svg">
                    </div>
                    <span class="goto-image">채팅하러 가기 ➜</span>

                </button>
            </div>

            <div class="etc-block"id="etc-chart">
                <button type="button" class="btn-member-performance-modal" th:attr="data-schedule-id=${schedule.scheduleId}">
                <div class="progress-widget">
                    <canvas id="scheduleProgressChart"></canvas>
                    <div class="progress-header">
                        진행률
                        <span class="progress-percent" id="scheduleProgressText">0%</span>
                    </div>
                    <span class="goto-progress">개인 진행률 보러가기 ➜</span>
                </div>
                </button>
            </div>

            <div class="etc-block" id="etc-file">
                <div class="file-view etc-view">
                    <div class="etc-label">File 보관함</div>

                    <div id="taskFileList" class="task-file-list">
                        <th:block th:each="f : ${fileList}">
                            <div class="file-item">
                                <a th:href="@{/api/task/files/download/{id}(id=${f.fileId})}" class="file-link">📎<span th:text="${f.originalName}"></span></a>
                            </div>
                        </th:block>
                    </div>

                    <span class="no-url" th:if="${#lists.isEmpty(fileList)}">등록된 파일이 없습니다.</span>

                    <input type="file" id="taskFileInput" style="display:none;" onchange="handleTaskFileUpload(this)">
                    <button type="button" class="btn-etc-edit" onclick="document.getElementById('taskFileInput').click()">Upload</button>
                </div>
            </div>

            <div class="etc-block"id="etc-git">

                <div class="git-view etc-view">
                    <div class="etc-label">Git 저장소</div>

                    <a class="etc-url" th:if="${schedule.gitUrl != null}"
                       th:href="${#strings.startsWith(schedule.gitUrl,'http://') or #strings.startsWith(schedule.gitUrl,'https://')
                                ? schedule.gitUrl : 'https://' + schedule.gitUrl}"
                       target="_blank"
                       th:text="${schedule.gitUrl}">
                    </a>
                    <span class="no-url" th:if="${schedule.gitUrl == null}">등록된 Git 저장소가 없습니다</span>
                    <button type="button" class="btn-etc-edit">Edit</button>

                    <form th:if="${schedule.gitUrl != null}"
                          th:action="@{/schedule/{id}/git/delete(id=${schedule.scheduleId})}"
                          method="post" class="etc-delete-form">
                        <button type="submit" class="btn-etc-delete"> X </button>
                    </form>
                </div>
                <div class="git-edit etc-edit">
                    <form th:action="@{/schedule/{id}/git/update(id=${schedule.scheduleId})}" method="post">
                        <input type="text"
                               name="gitUrl"
                               placeholder="Git URL"
                               th:value="${schedule.gitUrl}"
                               th:attr="data-original=${schedule.gitUrl}" />
                        <button type="submit" class="btn-etc-save">Save</button>
                        <button type="button" class="btn-etc-cancel">Cancel</button>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="modal-backdrop" id="modal-backdrop" hidden></div>

    <div class="modal" id="sendMessageModal" >
        <div class="modal-panel" id="sendMessageModal-panel">

            <header class="modal-header">send message</header>
            <button type="button" class="x-btn"> x </button>

            <div class="owner"></div>
            <div class="member"></div>
            <button type="button" id="btn-start-chat">Start Chat</button>

        </div>
    </div>

    <div class="modal" id="memberPerformanceModal" >
        <div class="modal-panel" id="memberPerformanceModal-panel">

            <header class="modal-header">member performance</header>
            <button type="button" class="x-btn"> x </button>

            <div class="performance-summary" id="scheduleProgressRateText">
                현재 진행률 0%
            </div>
            <div class="performance-head">
                <div class="performance-grid head">
                    <div class="head-cell"></div>
                    <div class="head-cell">미완료 Task</div>
                    <div class="head-cell">완료 Task</div>
                    <div class="head-cell">진행률</div>
                </div>
            </div>
            <div class="performance-body" id="performanceList">
                <!-- member row-->
            </div>


        </div>
    </div>

    <div class="modal" id="memberTasksModal">
        <div class="modal-panel" id="memberTasksModal-panel">

            <button type="button" class="x-btn">x</button>

            <div class="member-cell" id="memberInfoBox">
                <img class="member-avatar" id="memberAvatar" src="/img/default-avatar.png" alt="" />
                <div class="member-text">
                    <div class="member-name" id="memberName">-</div>
                    <div class="member-meta" id="memberMeta"></div>
                </div>
            </div>

            <div class="tasks-summary">
                <div>PENDING <span id="pendingCountText">00</span></div>
                <div>DONE <span id="doneCountText">00</span></div>
            </div>

            <div class="task-add" id="taskAddBox">
                <button type="button" class="task-add-trigger" id="taskAddTrigger">
                    + Add task
                </button>

                <form id="memberTaskAddForm" class="task-add-form hidden">
                    <input id="memberTaskDescInput" type="text"  placeholder="task 입력" autocomplete="off"/>
                    <button type="submit" class="btn-add">add</button>
                    <button type="button" class="btn-cancel" id="taskAddCancel">cancle</button>
                </form>
            </div>

            <div class="tasks-section-title">TODO</div>
            <div class="tasks-section task-list" id="todoTaskList" data-status="TODO">
            </div>

            <div class="tasks-section-title">DOING</div>
            <div class="tasks-section task-list" id="doingTaskList" data-status="DOING">
            </div>

            <div class="tasks-section-title">DONE</div>
            <div class="tasks-section task-list" id="doneTaskList" data-status="DONE">
            </div>


        </div>
    </div>
</main>

<th:block layout:fragment="script">
    <!-- 그래프 차트    -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 드래그 이동 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <script th:src="@{/js/task.js}"></script>
</th:block>
</body>

</html>