.team{
    display : flex;
    gap: 20px;
}

.teamAttend{
    margin: 0;
}

/* 오른쪽 */
.right3{
    width: 900px;
    height: 845px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
}

/* 년도 월 */
.teamHead{
    height: 85px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 18px;
    box-sizing: border-box;
}

.monthBtn{
    width: 70px;
    height: 48px;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
}

.month_title{
    font-size: 34px;
    font-weight: 700;
}

/* 표 */
.teamTableWrap{
    height: calc(845px - 18px - 18px - 85px - 18px);
    border: 1px solid black;
    box-sizing: border-box;
    overflow: auto;
}

.teamTable{
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.teamTable th{
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
}

.teamTable td{
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
}

.teamTable thead th{
    background: #d9d9d9;
    font-weight: 700;
    height: 80px;

    position: sticky;
    top: 0;
    z-index: 2;
}

.teamTable tbody td{
    height: 140px;
}

.weekCell{
    text-align: left;
    padding: 18px;
    line-height: 1.6;
    white-space: nowrap;
}