html{
    display: flex;
    text-align: center;
    justify-content: center;
}
body{
    position: absolute;
    padding: 5rem;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.1rem;
    font-weight: 500;
}
img{
    width: 22rem;
    position: relative;
}
.goto-main{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
}