.kanban{
    width: 100%;
    height: 96%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 2%;
    padding: var(--gap-size2);
    background-color: var(--color-bg);
}
.kanban-todo, .kanban-doing, .kanban-done{
    background: rgba(0,0,0,.04);
    border-radius: 1rem;
}
.kanban-header{
    padding: 3rem 3rem 2rem 3rem;
    font-size: var(--font-size-18);
    color: var(--color-secondary);
    font-weight: 800;
}
.kanban-cards{
    height: 68vh;
    margin: 0 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
.kanban-cards::-webkit-scrollbar {
    width: 4px;
}
.kanban-cards::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.kanban-card{
    display: grid;
    grid-template-columns: 66% 33%;
    height: 18vh;
    margin: 1rem;
    padding: 1.5rem;
    background: var(--color-surface);
    border-radius: 0.8rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.kanban-card .title-event-type{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.kanban-card .title{
    display: inline-block;
    font-size: var(--font-size-16);
    font-weight: 700;
}
.kanban-card .event-type{
    display: inline-block;
    margin: 2rem auto 2rem 0;
    font-size: var(--font-size-12);
    font-weight: 500;
    color: #FFFFFF;
    padding: .6rem 1rem;
    border-radius: 99.9rem;
    background: #0b2e4f;
    opacity: 0.9;
}
.kanban-card .date-time{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.kanban-card .start-at,
.kanban-card .end-at{
    display: inline-block;
    justify-self: end;
    font-size: 1rem;
    padding: .6rem 1rem;
    margin-bottom : 1rem ;
    border-radius: 99.9rem;
    background: rgba(0,0,0,.05);
    font-weight: 700;
}
.kanban-card .card-desc {
    grid-column: 1 / -1;
    padding: 0 1rem;
    font-size: var(--font-size-12);
    font-weight: 500;
}
.kanban-card.is-overdue {
    background: rgba(0,0,0,0.3);
}
.badge-expired {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff4d4f;
    border-radius: 0.5rem;
    opacity: 0.8;
    line-height: 1;
}
.kanban-done .kanban-card {
    background: rgba(0, 0, 0, 0.3);
}
.kanban-addTask{
    display: block;
    margin: 3rem auto;
    font-size: var(--font-size-14);
    font-weight: 800;
    color: var(--color-primary);
    opacity: 0.6;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.25s ease;
}
.kanban-addTask:hover{
    opacity: 1;
}
.kanban-done .kanban-header{
    display: flex;
    justify-content: space-between;
}
.kanban-done .done-delete-btn {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary);
    border: none;
    padding: 0 1rem;
    cursor: pointer;
}
.kanban-done .kanban-card{
    position: relative;
    opacity: 0.9;
}
.kanban-done .done-check{
     position: absolute;
     top: 0;
     right: 0;
     padding: 1rem 1rem 3rem 3rem;
     z-index: 1000;
 }
.kanban-done .done-select:checked {
    accent-color: var(--color-primary);
}
.done-check input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}



/*Add Task Modal*/

#modal-backdrop{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}
[hidden]{
    display: none !important;
}

/* ===== Modal wrapper ===== */
.modal{
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 1001;
}

/* ===== Panel ===== */
.modal-panel{
    width: 70rem;
    height: auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1.8rem 5rem rgba(0, 0, 0, .25);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-panel::-webkit-scrollbar {
    width: 4px;
}
.modal-panel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.modal-header{
    padding: 1.8rem;
    font-size: var(--font-size-18);
    font-weight: 700;
    color: #0B2E4F;
}
.x-btn{
    position: absolute;
    font-weight: 700;
    top: 2rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
}
.x-btn:hover{
    color: red;
}

/* ===== Form sheet ===== */
.modal-sheet{
    padding: 4rem 2rem;
    margin:1rem;
    display: grid;
    background: rgba(0,0,0,.05);
    border-radius: var(--border-radius);
    gap: 2rem;
}

#titleR input,
#locationR input{
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border: .1rem solid #E5E7EB;
    border-radius: 1rem;
    font-size: var(--font-size-14);
    font-weight: 500;
}
#dateTimeR{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
#dateTimeR input{
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border: .1rem solid #E5E7EB;
    border-radius: 1rem;
    font-size: var(--font-size-14);
    font-weight: 500;
}
#titleR input:focus,
#locationR input:focus,
#dateTimeR input:focus,
#descriptionR textarea:focus{
    border-color:#0B2E4F;
}
.eventTypeGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.eventBtn{
    border: .1rem solid var(--color-border);
    background: #fff;
    padding: .8rem 1.2rem;
    border-radius: 99.9rem;
    cursor: pointer;
    font-size: var(--font-size-14);
    font-weight: 500;
    transition: all 0.25s ease;
}
.eventBtn.is-active{
    color: #fff;
    background: var(--color-primary);
    border: 0;
}
.typeGroup{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.scope-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:0.3rem;
    height: 6rem;
    border: .1rem solid var(--color-border);
    border-radius: 12px;
    background: #fff;
    cursor: pointer;
    font-size: var(--font-size-14);
    font-weight: 500;
    transition: all 0.25s ease;
}
.scope-btn .scope-icon img{
    width: 2.2rem;
    height: 2.2rem;
    display: block;
}
.scope-btn.is-active{
    background: var(--color-primary);
    color: #FFFFFF;
}
.scope-btn.is-active .scope-icon img {
    filter: invert(1);
}
#descriptionR textarea {
    width: 100%;
    padding: 1.2rem;
    border: .1rem solid var(--color-border);
    border-radius: 1.2rem;
    resize: vertical;
    font-size: var(--font-size-14);
    font-weight: 500;
}
/* Footer buttons */
.modal-btns{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding:2rem;
}
.modal-btns .btn{
    height: 4rem;
    padding: 0 1.4rem;
    border-radius: 1rem;
    border: .1rem solid var(--color-border);
    background: rgba(0,0,0,.03);
    cursor: pointer;
    font-size: var(--font-size-14);
    font-weight: 600;
}

/*invite team modal*/
#teamUserList{
    padding: 3rem;
}
.invite-row{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 2rem 5rem;
}
.meta{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0.6rem;
}
.invite-row input{
    width: 1.6rem;
}
.invite-count{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.drag-ghost{opacity: .4;}
.drag-chosen{transform: scale(1.1);}


