.main-kanban{
    height:100%;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.12);
    padding: 2rem;
    background: #fff;
    cursor: pointer;

    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: scroll;
    overflow-x: auto;
}
.mk-head{
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 800;
    opacity: .7
}
.mk-grid{
    padding: 2rem 0;
    display:grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    min-height: 0;
}
.mk-col{
    display:flex;
    flex-direction: column;
    gap: 0.8rem;
    min-height: 0;
}
.mk-col-head{
    font-weight: 800;
    font-size: 1.3rem;
}
.mk-list{
    flex: 1;
    display:flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: hidden;
    min-height: 0;
}
.mk-card{
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    background: #fff;
    overflow: hidden;
}
.mk-card-title{
    font-weight: 600;
    font-size: 1.3rem;
}
.mk-card-meta{
    margin-top: 0.5rem;
    display:flex;
    justify-content: space-between;
    font-size: 1.1rem;
    opacity: .75;
}
.mk-empty{
    font-size: 1.3rem;
    opacity: .6;
    margin: auto;
}