.main-kanban{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: var(--color-bg);
    cursor: pointer;
    overflow: hidden;
    min-height: 0;
}
.mk-head{
    font-size: var(--font-size-18);
    font-weight: 800;
}
.mk-doing-count{
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-14);
    font-weight: 600;
    color: var( --color-primary);
}
.mk-doing-count b{
    font-weight: 800;
    padding: 0 5px;
}
.mk-grid{
    padding: 1rem 0 0 0;
    display:grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    flex: 1;
    min-height: 0;
}
.mk-col{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 0;
}
.mk-col-head{
    padding-top: 1rem;
    font-weight: 800;
    font-size: var(--font-size-16);
    color: var(--color-primary);
}
.mk-list{
    flex: 1;
    display:flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: auto;
    min-height: 0;
}
.mk-list::-webkit-scrollbar {
    width: 4px;
}
.mk-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.mk-card{
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    background: #fff;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mk-card-header{
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
    opacity: 0.8;
}
.mk-card-title{
    font-weight: 600;
    font-size: var(--font-size-14);
}
.mk-card-eventType{
    font-size: 10px;
}
.mk-task-desc{
    margin:1rem;
    font-weight: 500;
    font-size: var(--font-size-14);
}
.mk-card-meta{
    margin: 0 0.5rem;
    display:flex;
    justify-content: flex-end;
    font-size: 10px;
    opacity: .6;
}
.mk-empty{
    font-size: var(--font-size-12);
    opacity: .6;
    margin: auto;
}