<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Workneed.workneed.Calendar.mapper.CalendarMapper">

    <resultMap id="calendarMap"
               type="com.Workneed.workneed.Calendar.dto.CalendarDTO">
        <id property="calendarId" column="calendar_id"/>
        <result property="name" column="name"/>
        <result property="ownerId" column="owner_id"/>
        <result property="color" column="color"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
    </resultMap>

    <select id="findAll" resultMap="calendarMap">
        SELECT * FROM calendar
    </select>

    <select id="findById" parameterType="long" resultMap="calendarMap">
        SELECT * FROM calendar
        WHERE calendar_id = #{id}
    </select>

    <insert id="insert"
            parameterType="com.Workneed.workneed.Calendar.dto.CalendarDTO">
        INSERT INTO calendar (name, owner_id, color, description, is_active)
        VALUES (#{name}, #{ownerId}, #{color}, #{description}, #{isActive})
    </insert>

    <update id="update"
            parameterType="com.Workneed.workneed.Calendar.dto.CalendarDTO">
        UPDATE calendar
        SET name = #{name},
            owner_id = #{ownerId},
            color = #{color},
            description = #{description},
            is_active = #{isActive}
        WHERE calendar_id = #{calendarId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM calendar
        WHERE calendar_id = #{id}
    </delete>

</mapper>
