<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Workneed.workneed.Members.mapper.DeptMapper">

    <select id="findAll"
            resultType="com.Workneed.workneed.Members.dto.DeptDTO">
        SELECT
            dept_id,
            dept_name
        FROM dept
        ORDER BY dept_id
    </select>

    <select id="findById"
            parameterType="long"
            resultType="com.Workneed.workneed.Members.dto.DeptDTO">
        SELECT
            dept_id,
            dept_name
        FROM dept
        WHERE dept_id = #{deptId}
    </select>

    <insert id="insertDept" parameterType="com.Workneed.workneed.Members.dto.DeptDTO"
            useGeneratedKeys="true" keyProperty="deptId">
        INSERT INTO dept (dept_name)
        VALUES (#{deptName})
    </insert>

    <update id="updateDept" parameterType="com.Workneed.workneed.Members.dto.DeptDTO">
        UPDATE dept
        SET dept_name = #{deptName}
        WHERE dept_id = #{deptId}
    </update>

    <delete id="deleteDept"
            parameterType="long">
        DELETE FROM dept
        WHERE dept_id = #{deptId}
    </delete>

</mapper>