<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Workneed.workneed.Members.mapper.RankMapper">

    <select id="findAll"
            resultType="com.Workneed.workneed.Members.dto.RankDTO">
        SELECT
            rank_id,
            rank_name,
            rank_level,
            rank_created_at
        FROM ranks
    </select>

    <select id="findById"
            parameterType="long"
            resultType="com.Workneed.workneed.Members.dto.RankDTO">
        SELECT
            rank_id,
            rank_name,
            rank_level,
            rank_created_at
        FROM ranks
        WHERE rank_id = #{value}
    </select>

    <insert id="insertRank">
        INSERT INTO ranks (rank_name, rank_level)
        VALUES (
                   #{rankName},
                   (SELECT COALESCE(MAX(rank_level), 0) + 1 FROM ranks r)
               )
    </insert>

    <update id="updateRank" parameterType="com.Workneed.workneed.Members.dto.RankDTO">
        UPDATE ranks
        SET rank_name = #{rankName}
        WHERE rank_id = #{rankId}
    </update>

    <delete id="deleteRank"
            parameterType="long">
        DELETE FROM ranks
        WHERE rank_id = #{rankId}
    </delete>

</mapper>