<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Workneed.workneed.Members.mapper.RequestMapper">

    <select id="findById"
            parameterType="long"
            resultType="com.Workneed.workneed.Members.dto.RequestDTO">
        SELECT *
        FROM Request
        WHERE request_id = #{requestId}
    </select>

    <select id="findPendingAttendanceRequests"
            resultType="RequestDTO">
        SELECT *
        FROM Request
        WHERE request_type = 'ATTENDANCE'
        AND status = 'PENDING'
        ORDER BY request_created_at ASC
    </select>

    <update id="approve">
        UPDATE Request
        SET status = 'APPROVED',
        admin_id = #{adminId},
        request_updated_at = NOW()
        WHERE request_id = #{requestId}
    </update>

    <update id="reject">
        UPDATE Request
        SET status = 'REJECTED',
        admin_id = #{adminId},
        request_payload = #{payload},
        request_updated_at = NOW()
        WHERE request_id = #{requestId}
    </update>

    <insert id="insert" parameterType="RequestDTO"
            useGeneratedKeys="true" keyProperty="requestId">
        INSERT INTO Request (
        user_id, request_type, request_payload, status
        ) VALUES (
        #{userId}, #{requestType}, #{requestPayload}, #{status}
        )
    </insert>



</mapper>