<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Workneed.workneed.Schedule.mapper.ScheduleMapper">

    <insert id="insertSchedule"
            parameterType="com.Workneed.workneed.Schedule.dto.ScheduleDTO"
            useGeneratedKeys="true"
            keyProperty="scheduleId">
        INSERT INTO schedule
        (status, title, description, event_type, start_at, end_at, location, type, created_by)
        VALUES
        (#{status}, #{title}, #{description}, #{eventType}, #{startAt}, #{endAt}, #{location}, #{type}, #{createdBy})
    </insert>

    <select id="selectAll"
            resultType="com.Workneed.workneed.Schedule.dto.ScheduleDTO">
        SELECT
        schedule_id AS scheduleId,
        status,
        title,
        description,
        event_type AS eventType,
        start_at AS startAt,
        end_at AS endAt,
        location,
        type,
        created_by AS createdBy,
        created_at AS createdAt
        FROM schedule
        ORDER BY schedule_id DESC
    </select>

    <select id="selectByStatus"
            parameterType="string"
            resultType="com.Workneed.workneed.Schedule.dto.ScheduleDTO">
        SELECT
        schedule_id AS scheduleId,
        status,
        title,
        description,
        event_type AS eventType,
        start_at AS startAt,
        end_at AS endAt,
        location,
        type,
        created_by AS createdBy,
        created_at AS createdAt
        FROM schedule
        WHERE status = #{status}
        ORDER BY schedule_id DESC
    </select>

    <select id="selectVisibleByStatus"
            resultType="com.Workneed.workneed.Schedule.dto.ScheduleDTO">
        SELECT
            s.schedule_id AS scheduleId,
            s.status,
            s.title,
            s.description,
            s.event_type AS eventType,
            s.start_at AS startAt,
            s.end_at AS endAt,
            s.location,
            s.type,
            s.created_by AS createdBy,
            s.created_at AS createdAt
        FROM schedule s
        WHERE s.status = #{status}
            AND (
            -- PERSONAL: 내가 만든 것만
            (s.type = 'PERSONAL' AND s.created_by = #{userId})
            OR
            -- TEAM/COMPANY: 내가 참가자인 것만
            (s.type IN ('TEAM', 'COMPANY') AND EXISTS (
             SELECT 1
             FROM schedule_participant sp
             WHERE sp.schedule_id = s.schedule_id
                  AND sp.user_id = #{userId}
                ))
            )
            ORDER BY s.schedule_id DESC
    </select>

    <select id="selectById"
            parameterType="long"
            resultType="com.Workneed.workneed.Schedule.dto.ScheduleDTO">
        SELECT
        schedule_id AS scheduleId,
        status,
        title,
        description,
        event_type AS eventType,
        start_at AS startAt,
        end_at AS endAt,
        location,
        type,
        created_by AS createdBy,
        created_at AS createdAt,
        git_url AS gitUrl,
        file_storage_url AS fileStorageUrl
        FROM schedule
        WHERE schedule_id = #{scheduleId}
    </select>

    <update id="updateStatus">
        UPDATE schedule
        SET status = #{status}
        WHERE schedule_id = #{scheduleId}
    </update>

    <delete id="deleteByScheduleIds">
        DELETE FROM schedule
        WHERE schedule_id IN
        <foreach collection="scheduleIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

<!-- git url/ file stroage url-->
    <select id="selectScheduleLinks" parameterType="long" resultType="map">
        SELECT
        schedule_id      AS scheduleId,
        git_url          AS gitUrl,
        file_storage_url AS fileStorageUrl
        FROM schedule
        WHERE schedule_id = #{scheduleId}
    </select>
<!--  git url link-->
    <update id="updateGitUrl" parameterType="map">
        UPDATE schedule
        SET git_url = #{gitUrl}
        WHERE schedule_id = #{scheduleId}
    </update>
    <update id="deleteGitUrl" parameterType="long">
        UPDATE schedule
        SET git_url = NULL
        WHERE schedule_id = #{scheduleId}
    </update>

<!--  file storage link-->
    <update id="updateFileStorageUrl" parameterType="map">
        UPDATE schedule
        SET file_storage_url = #{fileStorageUrl}
        WHERE schedule_id = #{scheduleId}
    </update>
    <update id="deleteFileStorageUrl" parameterType="long">
        UPDATE schedule
        SET file_storage_url = NULL
        WHERE schedule_id = #{scheduleId}
    </update>

<!--main page mini kanban-->
    <select id="countDoingSchedulesAll" resultType="int">
        SELECT COUNT(*)
        FROM schedule
        WHERE status = 'DOING'
    </select>

    <select id="selectMainMyTaskCardsInDoingScheduleByStatus"
            resultType="com.Workneed.workneed.Schedule.dto.MainScheduleDTO">
        SELECT
            s.schedule_id      AS scheduleId,
            s.title            AS scheduleTitle,
            s.event_type       AS eventType,
            s.start_at         AS startAt,
            s.end_at           AS endAt,

            t.task_id          AS taskId,
            t.personal_status  AS taskStatus,
            t.task_description AS taskDescription
        FROM my_task t
        JOIN schedule s ON s.schedule_id = t.schedule_id
        WHERE t.user_id = #{userId}
         AND t.personal_status = #{status}
         AND s.status = 'DOING'
        ORDER BY
          s.start_at ASC,
          t.task_id DESC
    </select>


</mapper>
