<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Workneed.workneed.Members.mapper.UserMapper">

    <sql id="allColumns">
        user_id AS userId,
        user_login_id AS userLoginId,
        user_email AS userEmail,
        user_password AS userPassword,
        user_name AS userName,
        user_phone AS userPhone,
        user_profile_image AS userProfileImage,
        user_status AS userStatus,
        user_birthday AS userBirthday,
        rank_id AS rankId,
        dept_id AS deptId,
        user_created_at AS userCreatedAt,
        user_updated_at AS userUpdatedAt
    </sql>

    <select id="findByLoginId" resultType="com.Workneed.workneed.Members.dto.UserDTO">
        SELECT
        u.user_id AS userId,
        u.user_login_id AS userLoginId,
        u.user_email AS userEmail,  u.user_password AS userPassword,
        u.user_status AS userStatus,
        u.user_name AS userName,
        u.user_profile_image AS userProfileImage,
        u.dept_id AS deptId,
        u.rank_id AS rankId,
        d.dept_name AS deptName,
        r.rank_name AS rankName
        FROM user u
        LEFT JOIN dept d ON u.dept_id = d.dept_id
        LEFT JOIN ranks r ON u.rank_id = r.rank_id
        WHERE u.user_login_id = #{loginId}
    </select>

    <select id="findById" parameterType="long" resultType="com.Workneed.workneed.Members.dto.UserDTO">
        SELECT
        <include refid="allColumns"/>
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="findByEmail" resultType="com.Workneed.workneed.Members.dto.UserDTO">
        SELECT
        <include refid="allColumns"/>
        FROM user
        WHERE user_email = #{email}
    </select>

    <select id="findLoginIdByNameAndEmail" resultType="string">
        SELECT user_login_id
        FROM user
        WHERE user_name = #{userName}
        AND user_email = #{email}
    </select>

    <select id="findIdByLoginIdAndEmail" resultType="long">
        SELECT user_id
        FROM user
        WHERE user_login_id = #{loginId}
        AND user_email = #{email}
    </select>

    <select id="findAllWithDetails" resultType="com.Workneed.workneed.Members.dto.UserDTO">
        SELECT
        u.user_id AS userId,
        u.user_login_id AS userLoginId,
        u.user_name AS userName,
        u.user_status AS userStatus,
        u.dept_id AS deptId,
        u.rank_id AS rankId,
        d.dept_name AS deptName,
        r.rank_name AS rankName
        FROM user u
        JOIN dept d ON u.dept_id = d.dept_id
        JOIN ranks r ON u.rank_id = r.rank_id
        ORDER BY u.user_id DESC
    </select>

    <select id="existsByLoginId"
            parameterType="string"
            resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user
        WHERE user_login_id = #{loginId}
    </select>

    <select id="existsByEmail"
            parameterType="string"
            resultType="boolean">
        SELECT COUNT(*) > 0
        FROM user
        WHERE user_email = #{email}
    </select>


    <insert id="insertUser"
            parameterType="com.Workneed.workneed.Members.dto.UserDTO"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id">
        INSERT INTO user (
        user_login_id,
        user_email,
        user_password,
        user_name,
        user_phone,
        user_profile_image,
        user_status,
        user_birthday,
        rank_id,
        dept_id
        ) VALUES (
        #{userLoginId},
        #{userEmail},
        #{userPassword},
        #{userName},
        #{userPhone},
        #{userProfileImage},
        #{userStatus},
        #{userBirthday},
        #{rankId},
        #{deptId}
        )
    </insert>


    <update id="updateUser" parameterType="com.Workneed.workneed.Members.dto.UserDTO">
        UPDATE user
        SET user_email = #{userEmail},
        user_name = #{userName},
        user_status = #{userStatus},
        rank_id = #{rankId},
        dept_id = #{deptId}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUsersStatus">
        UPDATE user
        SET user_status = #{status}
        WHERE user_id IN
        <foreach item="id" collection="userIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updatePassword">
        UPDATE user
        SET user_password = #{userPassword}
        WHERE user_id = #{userId}
    </update>

    <update id="updateProfileImage">
        UPDATE user
        SET user_profile_image = #{profileImage}
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserRankToDefault" parameterType="long">
        UPDATE user
        SET rank_id = 6
        WHERE rank_id = #{rankId}
    </update>

    <update id="updateUserDeptToDefault" parameterType="long">
        UPDATE user
        SET dept_id = 6
        WHERE dept_id = #{deptId}
    </update>

</mapper>